<div class="carousel-item <%= 'active' if index.zero? %>" data-value=<%=index%> data-select-from-cards-target="card">

  <% imgatt = ["Buckingham-Palace.jpg", "harry_potter.jpg", "westminster-abbey.jpg", "uptoo.jpg", "londoneye.jpg", "stpaulcathedral.jpg"] %>

  <div class="hotel-cards mt-4 mx-0">
    <%= image_tag "#{imgatt[index]}", width:"100%", height:"200px", class:"rounded-4" %>
      <div class="hotel-card text-center">
        <h4 class="acc-name mt-2"><strong><%= attraction.name %></strong></h4>
        <p><em><%= attraction.category_name %></em></p>
        <p><%= attraction.address %></p>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <h5><strong>Estimated Price: <%= attraction.price %></strong></h5>
        <br>
        <div class="text-center">
          <a href="#" class="btn btn-primary" data-action="select-from-cards#click" data-value=<%= index %>>Select</a>
        </div>
      </div>
  </div>
</div>
