<div class="carousel-item <%= 'active' if index.zero? %>">
  <div class="hotel-cards px-1 mt-4 mx-0">
      <%= image_tag "restaurant.jpg", width:"100%" %>
      <div class="hotel-card text-center">
        <h4 class="acc-name mt-2"><strong><%= restaurant.name %></strong></h4>
        <p><%= restaurant.street %>, <%= restaurant.postal_code %></p>
        <p>$<%= restaurant.price_range %></p>
        <p>Rating: <%= restaurant.rating_value %>/5</p>
        <div class="text-center">
          <a href="#" class="btn btn-primary">Select</a>
        </div>
      </div>
  </div>
</div>
