<div class="createtrip-companion" data-create-trip-target="companion">
  <h3 class="text-center">Traveller Details</h3>
  <%#= f.input :pax, :label => "Number", input_html: { data: { action: "change->create-trip#addTravellerFields", create_trip_target: "inputField"  }, class: "traveller-input", :value => "" } %>
  <%= f.simple_fields_for(@companion) do |m| %>
    <h3>Type</h3>
    <%= m.input :type, :label => "Select", :collection => ["Solo","Couple", "Family", "Friends"], :selected => "" %>
    <div class="traveller-detail">
      <%= m.input :name %>
      <%= m.input :age %>
    </div>

    <%# <div class="add-more-traveller d-none" data-create-trip-target="addField"> %>
      <%#= m.input :name %>
      <%#= m.input :age %>
    <%# </div> %>

    <%# <%= simple_form_for ([@trip, Companion.new]) do |f| %>
      <%#<%= f.submit %>
    <%#<% end %>

  <% end %>
</div>
