<div class="newtrip-container">
  <%= link_to "Back", root_path %>

  <div class="newtrip-second-container" data-controller="create-trip" data-create-trip-current-step-value="budget" >
    <%= simple_form_for((@trip), data: { create_trip_target: "form", action: "submit->create-trip#send"}) do |f| %>

      <%# --------- BUDGET ---------   %>
      <div class="trip-step createtrip-budget active" data-create-trip-target="budget" >
        <h2 class="text-center fs-1">What's your ideal budget?</h1>
        <%= f.input :budget, :label => 'Amount', class: "fs-3" %>
      </div>

      <%# --------- FLIGHT ---------   %>
      <div class="trip-step createtrip-flight" data-create-trip-target="flight">
        <h2 class="text-center fs-1">Where are you heading to?</h2>
        <%= f.input :origin %>
        <%= f.input :destination %>
      </div>

      <%# --------- TYPE OF FLIGHT ---------   %>
      <div class="trip-step createtrip-flighttype" data-create-trip-target="type">
        <h2 class="text-center fs-1">Would you like a return flight?</h2>
        <div class="flight-buttons">
          <button type="button" class="btn btn-primary" data-create-trip-target="rtflight" data-action="click->create-trip#flightYes" data-create-trip-flight-step-value="yes">Round Trip</button>
          <button type="button" class="btn btn-secondary" data-create-trip-target="owflight" data-action="click->create-trip#flightNo">One Way</button>
        </div>
      </div>

      <%# ---------RT DATES---------   %>
      <div class="trip-step createtrip-flightdate" data-create-trip-target="rtdate">
        <h2 class="text-center fs-1">Select your dates</h2>
        <%= f.input :start_date, :label => "Depart", as: :date, html5: true %>
        <%= f.input :end_date, :label => "Return", as: :date, html5: true %>
      </div>

      <%# ---------ONE WAY DATE ---------   %>
      <div class="trip-step createtrip-oneway" data-create-trip-target="owdate">
        <h2 class="text-center">Select your departure date</h2>
        <%= f.input :start_date, :label => "Departure", as: :date, html5: true %>
      </div>

      <%# --------- SUBMIT BUTTON ---------   %>
      <div class="submit-button">
        <%= f.submit "Submit",  data: { create_trip_target: "submit", action: "submit->create-trip#send" } , class: "btn btn-primary d-none"  %>
      </div>

    <% end %>

      <%# --------- BACK & NEXT BUTTON ---------   %>
      <div class="main-buttons">
        <button type="button" class="back-button btn btn-outline-primary rounded-pill d-none" data-create-trip-target="back" data-action="click->create-trip#back">Back</button>
        <button type="button" class="next-button btn btn-outline-danger rounded-pill" data-create-trip-target="next" data-action="click->create-trip#next">Next</button>
      </div>
  </div>

</div>
