<div class="newtrip-container">
  <%= link_to "Back", root_path %>

  <div class="newtrip-second-container" data-controller="create-trip">
      <%= simple_form_for((@trip), data: { create_trip_target: "form", action: "submit->create-trip#send"}) do |f| %>

      <div class="createtrip-budget" data-create-trip-target="budget">
        <h2>What's your total budget?</h1>
        <%= f.input :budget %>
      </div>

      <div class="createtrip-flight d-none" data-create-trip-target="flight">
        <h2>Where are you flying to?</h2>
        <%= f.input :location %>
      </div>

      <div class="createtrip-flighttype d-none" data-create-trip-target="type">
        <h2>Would you like a return flight?</h2>
        <button type="button" class="btn btn-primary">Yes</button>
        <button type="button" class="btn btn-secondary">No</button>
      </div>

      <div class="createtrip-flightdate d-none" data-create-trip-target="date">
        <h2>Please enter the dates</h2>
        <%= f.input :start_date, inline_label: 'Outbound' %>
        <%= f.input :end_date, inline_label: 'Inbound' %>
      </div>


       <div class="createtrip-companion d-none" data-create-trip-target="companion">
        <%= f.simple_fields_for :@companion do |m| %>
          <h3>Number of traveller</h3>


          <%= m.input :name %>
          <%= m.input :age %>
        <% end %>
       </div>


      <div class="submit-button">
        <%= f.submit "Submit", data: { create_trip_target: "submit", action: "submit->create-trip#send" }, class: "btn btn-primary d-none" %>
      </div>

    <% end %>

    <button type="button" class="btn btn-warning" data-create-trip-target="button" data-action="click->create-trip#send">Next</button>
  </div>

</div>
