<div class="carousel-item <%= 'active' if index.zero? %>">
  <div class="flight-cards row px-1 mt-4 mx-0 rounded">
      <%= image_tag "Singapore_Airlines_Logo_2", width:"100%" %>
      <div class="flight-card text-center">
        <h5 class="card-title"><%#= session[:trip_data]["flights"]["flight1"][0] %></h5>
        <p class="card-text">Departure</p>
        <div class="depart-time text-center">
          <%= session[:trip_data]["flights"]["outbound_departure"] %> <i class="arrow right"></i><i class="arrow right"></i><i class="arrow right"></i> <%= session[:trip_data]["flights"]["outbound_arrival"] %>
        </div>
        <div class="depart-location text-center">
          <%= session[:trip_data]["flights"]["outbound_origin_display_code"] %>   direct     <%= session[:trip_data]["flights"]["outbound_destination_display_code"] %>
        </div>
        <p class="card-text">Arrival</p>
        <div class="depart-time text-center">
          <%= session[:trip_data]["flights"]["inbound_departure"] %> <i class="arrow right"></i><i class="arrow right"></i><i class="arrow right"></i> <%= session[:trip_data]["flights"]["inbound_arrival"] %>
        </div>
        <div class="depart-location text-center">
          <%= session[:trip_data]["flights"]["inbound_origin_display_code"] %>      direct     <%= session[:trip_data]["flights"]["inbound_destination_display_code"] %>
        </div>
        <p class="card-text">Estimated Price: $<%= session[:trip_data]["flights"]["amount"] %></p>
        <div class="text-center">
          <a href="#" class="btn btn-primary">Select</a>
        </div>
      </div>
    </div>
</div>
