<%= simple_form_for([trip, companion], data: {
    create_companion_target: "form",
    action: "submit->create-companion#addtraveller"
    }) do |f| %>

  <div class="traveller-detail d-flex justify-content-around">
    <%= f.input :name, input_html: { class: "name-input" } %>
    <%= f.input :age, input_html: { class: "age-input" } %>
  </div>

  <div class="companion-buttons">
    <%= f.submit "Add more traveller", class: "companion-addtraveller-button"%>
    <%= link_to "Submit", trip_loading_page_path, class: 'companion-submit-button text-center' %>
  </div>

<% end %>
