<%= simple_form_for([trip, companion]) do |f| %>

  <%# <%= f.input :pax, :label => "Number", input_html: { data: { create_trip_target: "Field"  }, class: "traveller-input rounded-pill", :value => "" } %>
  <%# <%= f.input :type, :label => "Select", :collection => ["Solo","Couple", "Family", "Friends"], :selected => "" , input_html: { class: "type-input rounded-pill" } %>

  <div class="traveller-detail d-flex justify-content-between" data-create-companion-target="inputfield" >
    <%= f.input :name, input_html: { class: "name-input rounded-pill" } %>
    <%= f.input :age, input_html: { class: "age-input rounded-pill" } %>
  </div>

  <div class="com-submit-button d-flex justify-content-center">
    <%= f.submit "Add New", class: "companion-submit btn btn-outline", html: {
  data: {
    action: "click->create-companion#addTravellerFields"
  }} %>
  </div>

<% end %>
