<div id="companion">
  <div class="home-button-companion">
    <%= link_to "< Home", root_path %>
  </div>

  <div class="createtrip-companion-container" data-controller="create-companion"  data-create-companion-trip-value="<%= @trip.id %>">
    <h2 class="text-center">Travellers' Details</h2>

    <div class="wrapper-companion-field" data-create-companion-target="wrapper">
      <%= render 'add_field', trip: @trip, companion: @companion %>
    </div>

  </div>
</div>



  <%# <%= f.input :pax, :label => "Number", input_html: { data: { create_trip_target: "Field"  }, class: "traveller-input rounded-pill", :value => "" } %>
  <%# <%= f.input :type, :label => "Select", :collection => ["Solo","Couple", "Family", "Friends"], :selected => "" , input_html: { class: "type-input rounded-pill" } %>
