<!DOCTYPE html>
<html>
  <head>
    <title>Travelassistant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% unless current_page?(new_user_session_path) || current_page?(new_user_registration_path) || current_page?(new_user_password_path) || current_page?(new_trip_path) || current_page?(new_trip_companion_path) %>
      <%= render "shared/navbar" %>
    <% end %>
      <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
